.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;

  background-color: lightgray;
  padding-block: 0.5rem; /* Padding-blick is padding top and bottom */
  width: 100%;
}

.header .header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
